.dom {
    max-width: 1080px;
    margin: 0 auto;
}

.dom-article {
    margin-bottom: 30px;
}

.dom__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 43.2px;
    margin-bottom: 30px;
}

.dom__desc {
    font-size: 20px;
    line-height: 24px;
}

.dom__desc:not(:last-child) {
    margin-bottom: 30px;
}

.figure-dom {
    margin-bottom: 30px;
}

.box {
    padding: 10px;
    max-width: 600px;
    min-height: 450px;
    margin: 0 auto;
    background-color: #f1f1f1;
    margin-bottom: 30px;
}

.list-item:not(:last-child) {
    margin-bottom: 20px;
}

.box__title {
    margin-bottom: 20px;
}

.card__title {
    line-height: 35px;
}

.card__text {
    font-size: 18px;
    line-height: 20px;
}

.figure-imagefive {
    margin-bottom: 30px;
}

.figure-imagesix {
    max-width: 964px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.figure-imageseven {
    max-width: 1022px;
    margin: 0 auto;
    margin-bottom: 30px;
}