.article {
    padding-top: 60px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    min-height: 300px;
}

.wrapper__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 30px;
}

.wrapper__par {
    line-height: 24px;
}

.wrapper__par:not(:last-child) {
    margin-bottom: 30px;
} 