@import "./global.css";
@import "/css/normalize.css";
@import "./header.css";
@import "/css/content.css";
@import "/css/section-cats.css";
@import "/css/dom.css";
@import "/css/last-box.css";
@import "/css/total.css";