.last-box {
    max-width: 1080px;
    margin: 0 auto;
}

.last-box__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
    margin-bottom: 30px;
}

.last-box__desc {
    line-height: 24px;
    margin-bottom: 30px;
}

.figure-last-box {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.figure-last-box-big {
    margin-bottom: 30px;
}

.figure-last-box-medium {
    max-width: 806px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.figure-last-box-small {
    max-width: 317px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.figure-last-box-smalltwo {
    max-width: 500px;
    margin: 0 auto;
}

