.section-cats {
    max-width: 1080px;
}

.section-cats__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
    margin-bottom: 30px;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

.block-margin {
    margin-right: 30px;
}

.desc {
    max-width: 490px;
    line-height: 24px;
}

.desc:not(:last-child) {
    margin-bottom: 30px;
}

.img-cats {
    max-width: 550px;
}