.total {
    padding: 25px 0 0 45px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.total__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 52.8px;
    margin-bottom: 20px;
}

.total__item {
    font-size: 20px;
    line-height: 24px;
}

.total__item:not(:last-child) {
    margin-bottom: 10px;
}

.total__item:before {
    content: "— ";
    position: relative;
}

.total-box {
    padding: 30px 30px 25px 45px;
    background-color: #f1f1f1;

}

.total-box__desc {
    line-height: 24px;
}

.section-total {
    padding-bottom: 0;
}