.total-section {
    max-width: 1140px;
    min-height: 385px;
    padding: 25px 0 0 45px;
    background-color: #f1f1f1;
}


.total {
    max-width: 1080px;
}

.total__title {
    position: relative;
    font-weight: 700;
    font-size: 44px;
    line-height: 52.8px;
    margin-bottom: 20px;
}

.total__list {
    margin-bottom: 30px;
}

.total__item {
    font-size: 20px;
    line-height: 24px;
}

.total__item:before {
    content: "— ";
    position: relative;
}

.total__desc {
    font-size: 20px;
    line-height: 24px;
}